/* Story section */
@media(max-width: 767px){
    h1{
        font-size: 2.8rem;
    }s

    h2{
        font-size:  2rem;
        line-height: 2.0625rem;
    }

.story-content{
    height: auto;
    padding: 3rem 0;
}    
}